<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <h1>ADD A NEW POST</h1>
        <p>{{ request.user.username }}</p>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Title</p>
            <textarea rows="3" cols="150" name="title"></textarea>
            <br>
            <p>Content</p>
            <textarea rows="20" cols="150" name="content"></textarea>
            <br>
            <p>Img file</p>
            <input name="img"type="file">
            <p>is published</p>
            <input name="is_published"value="True" type="checkbox">
            <input type ="submit">

        </form>

</body>
</html>
